@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-changer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background-color: rgba(255, 238, 0, 0.918);
}